
       body{
           font-size: 15px;
           font-family: 'Overpass', sans-serif;
       }
       
       h1, h2{ 
           font-weight: 700;
           font-size: 1.4rem;
       }
       .attribution {
            font-size: 11px;
            text-align: center;
        }

        .attribution a {
            color: hsl(228, 45%, 44%);
            
        }

        .round{
            border-radius: 50%;
        }

        #star-icon{
            border-radius: 50%;
            border: 1px, solid, black;
            width: 40px;
        }

    /* footer{
        bottom:0;
        position: absolute;
        text-align: right;
    } */